<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dataLabeling.dao.EntityTagMapper">

	<insert id="saveFileContent" useGeneratedKeys="true">

        insert into recordinfo(chatRecord, fileName, recordMd5, recordTime, appFlag) values (
          #{chatRecord,jdbcType=VARCHAR},
           #{fileName,jdbcType=VARCHAR},
           #{recordMd5,jdbcType=VARCHAR},
          sysdate(),
           #{appFlag}
        )
    </insert>

    <!--根据Md5查询-->
    <select id="getCountByMd5">
        select count(1) from recordinfo where recordMd5= #{recordMd5 } and appFlag = #{appFlag}
    </select>

    <!--查询未标记文本-->
    <select id="getNoTagList" resultType="com.dataLabeling.entity.RecordInfo">
        select * from recordinfo where appFlag=#{appFlag} and recordClassId = '-1'
    </select>
</mapper>