<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dataLabeling.dao.EntityTagMapper">

	<insert id="saveFileContent" useGeneratedKeys="true" parameterType="RecordInfo">
        insert into recordinfo(chatRecord, resultRecord, resultCode,fileName, recordMd5, recordTime, appId) values
        <foreach collection="recordInfoList" item="item" index="index" separator="," >
            ( #{item.chatRecord,jdbcType=VARCHAR},
            #{item.resultRecord,jdbcType=VARCHAR},
            #{item.resultCode,jdbcType=VARCHAR},
            #{item.fileName,jdbcType=VARCHAR},
            #{item.recordMd5,jdbcType=VARCHAR},
            sysdate(),
            #{item.appId})
        </foreach>
    </insert>

    <!--根据Md5查询-->
    <select id="getCountByMd5" resultType="Integer">
        select count(1) from recordinfo where recordMd5= #{md5 } and appId = #{appId}
    </select>

    <!--查询未标记文本-->
    <select id="getNoTagList" resultType="com.dataLabeling.entity.RecordInfo">
        select * from recordinfo where appId=#{appId} and recordClassId=#{dataType}
        <if test="dataType != 0" >
        order by rand()
        </if>
        <if test="dataType == 0" >
            order by id
        </if>
    </select>


    <!--保存标记记录-->
    <update id="saveTagInfo" >
      update  recordinfo set resultRecord=#{resultRecord},resultCode=#{resultCode},recordClassId=#{recordClassId} where id=#{id}
    </update>


</mapper>